<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>做伙來讀冊 - Learn it well</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/static/images/hello.png" rel="icon">
    <link href="/static/images/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/static/vendor/aos/aos.css" rel="stylesheet">
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/static/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: eStartup - v4.7.1
    * Template URL: https://bootstrapmade.com/estartup-bootstrap-landing-page-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <div id="logo">
            <h1>
                <img src="/static/images/hello.png">
                <a href="/"><span>做伙</span>來讀冊</a>
            </h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" title="" /></a>-->
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto " href="/">首頁</a></li>
                <li class="dropdown nav-link scrollto"><a href="#"><span>使用者</span> <i class="bi bi-chevron-down "></i></a>
                    <ul>
                        <li><a href="/userdetail/">個人資料</a></li>
                        <li><a href="/achievement/">成就</a></li>
                        <li><a href="/studyplan/">讀書規劃</a></li>
                        <li class="dropdown"><a href="/report/"><span>讀書報表</span> <i
                                class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="/ReportWeek/">週報表</a></li>
                                <li><a href="/ReportDay/">日報表</a></li>
                            </ul>
                        </li>
                    </ul>
                <li><a class="nav-link scrollto" href="/studyroom/">自習室</a></li>
                <li><a class="nav-link scrollto" href="/discusroom/">討論室</a></li>
                <li><a class="nav-link scrollto" href="/developer/">開發人員</a></li>
                <li><a class="nav-link scrollto" href="/logout/">登出</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
    <style>
        .btn {
            background-color: #71c55d;
            text-decoration: none;
            color: #FFF;
            padding: 10px;
            /*width: 5px;*/
            /*height: 20px;*/
            border-radius: 10px;
        }
    </style>
</header><!-- End Header -->
</body>
<!-- 表格開始-->
<body class="hm-gradient">

<main>

    <!--MDB Tables-->
    <div class="container mt-4">

        <div class="text-center darken-grey-text mb-4">
            <br><br>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <!-- Grid row -->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-12">
                        <h2 class="pt-3 pb-4 text-center font-bold font-up deep-purple-text">查看成就</h2>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
                <!--Table-->
                <div class="vertical-menu">
                    <table class="table table-striped">
                        <!--Table head-->
                        <thead>
                        <tr>
                            <th>編號</th>
                            <th>成就</th>
                            <th>達成率</th>
                            <th>獎勵</th>
                            <th></th>
                        </tr>
                        </thead>
                        <!--Table head-->
                        <!--Table body-->
                        <tbody>
                        {% for sus_all in all_all.sus_all %}
                        <tr>
                            <th scope="row">{{ sus_all.success_no }}</th>
                            <td>
                                {% for success_name in sus_all.success_names %}
                                {{ success_name.suc_name }}
                                {% endfor %}
                            </td>
                            <td>
                                {% for success_name in sus_all.success_names %}

                                <!-- 自習 -->
                                {% if success_name.suc_classroom == 1 %}
                                {% for study_tot_time in all_all.study_tot_time %}
                                {{ study_tot_time.study_total_min }}
                                {% endfor %}
                                {% endif %}

                                <!-- 討論 -->
                                {% if success_name.suc_classroom == 3 %}
                                {% for dis_tot_time in all_all.dis_tot_time %}
                                {{ dis_tot_time.dis_total_min }}
                                {% endfor %}
                                {% endif %}

                                <!-- all -->
                                {% if success_name.suc_classroom == 4 %}
                                {% for all_tot_time in all_all.all_tot_time %}
                                {{ all_tot_time.total_min }}
                                {% endfor %}
                                {% endif %}

                                {% endfor %}
                                /
                                {% for success_name in sus_all.success_names %}
                                {{ success_name.suc_pace }}
                                {% endfor %}
                            </td>
                            <td>100 Point</td>
                            <td>
                                <button class="button" id="js-btnget" onclick="myFunction()" title="達成成就才能按下!" style="border-radius: 10px; width:100px;height:40px;border:12px blue none;background-color:#71c55d;color:white; font-size:15px;">領取</button>

                            <script>
                            var a=23;
                            if(a>=21){
                                document.getElementById("js-btnget").disabled = false;}
                            else{
                                document.getElementById("js-btnget").disabled = true;
                            }


                            </script>
<!--                                <script>-->
<!--                            var a;-->
<!--                            {% for success_name in sus_all.success_names %}-->

<!--                            {% if success_name.suc_classroom == 1 %}-->
<!--                            {% for study_tot_time in all_all.study_tot_time %}-->
<!--                            a.push({{ study_tot_time.study_total_min }})-->
<!--                            {% endfor %}-->
<!--                            {% endif %}-->

<!--                            {% if success_name.suc_classroom == 3 %}-->
<!--                            {% for dis_tot_time in all_all.dis_tot_time %}-->
<!--                            a.({{ dis_tot_time.dis_total_min }})-->
<!--                            {% endfor %}-->
<!--                            {% endif %}-->

<!--                            {% if success_name.suc_classroom == 4 %}-->
<!--                            {% for all_tot_time in all_all.all_tot_time %}-->
<!--                            a.({{ all_tot_time.total_min }})-->
<!--                            {% endfor %}-->
<!--                            {% endif %}-->

<!--                            {% endfor %}-->
<!--                            var b;-->
<!--                            {% for success_name in sus_all.success_names %}-->
<!--                            b.push({{ success_name.suc_pace }})-->
<!--                            {% endfor %}-->
<!--                            if(a>=b){-->
<!--                                document.getElementById("js-btnget").disabled = false;}-->
<!--                            else{-->
<!--                                document.getElementById("js-btnget").disabled = true;-->
<!--                            }-->


<!--                            </script>    -->

                                <!--                                <button class="btn btn-primary px-4" type="submit" id="js-btnget" title="達成成就才能按下!"-->
                                <!--                                        style="width:100px;height:40px;background-color:#7B7B7B;color:white;" disabled>未完成-->
                                <!--                                </button>-->
<!--                                <button class="btn btn-primary px-4 "-->
<!--                                        style="width:100px;height:40px;border:12px blue none;background-color:#71c55d;color:white;margin-left:5px;"-->
<!--                                        id="js-btnget" title="達成成就才能按下!"-->
<!--                                        onclick="window.location.href='/studyroom-together/'"-->
<!--                                        style="width:100px;height:40px;border:12px blue none;background-color:#71c55d;color:white;margin-left:5px;">-->
<!--                                    <button class="button" type="submit" id="js-btnget"  title="達成成就才能按下!" style="border-radius: 10px; width:100px;height:40px;border:12px blue none;background-color:#71c55d;color:white; font-size:15px;" disabled >領取-->

<!--                                    &lt;!&ndash;                                    {% for success_list in success_lists %}&ndash;&gt;-->
<!--                                    <script type="text/javascript">-->
<!--                                            if(1319.0===600){-->
<!--                                                   document.getElementById("js-btnget").disabled = false;-->
<!--                                            } else{-->
<!--                                                   document.getElementById("js-btnget").disabled = true;-->
<!--                                            }-->


<!--&lt;!&ndash;                                        let button = document.querySelector(".button");&ndash;&gt;-->

<!--&lt;!&ndash;                                        function disbtn(e) {&ndash;&gt;-->
<!--&lt;!&ndash;                                            if (&ndash;&gt;-->
<!--&lt;!&ndash;                                                { % for success_list in success_lists %}&ndash;&gt;-->
<!--&lt;!&ndash;                                            {&ndash;&gt;-->
<!--&lt;!&ndash;                                                {&ndash;&gt;-->
<!--&lt;!&ndash;                                                    success_list.pace&ndash;&gt;-->
<!--&lt;!&ndash;                                                }&ndash;&gt;-->
<!--&lt;!&ndash;                                            }&ndash;&gt;-->
<!--&lt;!&ndash;                                            {%&ndash;&gt;-->
<!--&lt;!&ndash;                                                endfor %&ndash;&gt;-->
<!--&lt;!&ndash;                                            }&ndash;&gt;-->
<!--&lt;!&ndash;                                        )&ndash;&gt;-->
<!--&lt;!&ndash;                                        ===&ndash;&gt;-->
<!--&lt;!&ndash;                                            {%&ndash;&gt;-->
<!--&lt;!&ndash;                                                for success_name in success_list.success_names %}&ndash;&gt;-->
<!--&lt;!&ndash;                                            {&ndash;&gt;-->
<!--&lt;!&ndash;                                                {&ndash;&gt;-->
<!--&lt;!&ndash;                                                    success_name.suc_pace&ndash;&gt;-->
<!--&lt;!&ndash;                                                }&ndash;&gt;-->
<!--&lt;!&ndash;                                            }&ndash;&gt;-->
<!--&lt;!&ndash;                                            {%&ndash;&gt;-->
<!--&lt;!&ndash;                                                endfor %&ndash;&gt;-->
<!--&lt;!&ndash;                                            }&ndash;&gt;-->
<!--&lt;!&ndash;                                        )&ndash;&gt;-->
<!--&lt;!&ndash;                                            {&ndash;&gt;-->
<!--&lt;!&ndash;                                                button.disabled = false;&ndash;&gt;-->
<!--&lt;!&ndash;                                            }&ndash;&gt;-->
<!--&lt;!&ndash;                                        else&ndash;&gt;-->
<!--&lt;!&ndash;                                            {&ndash;&gt;-->
<!--&lt;!&ndash;                                                button.disabled = true;&ndash;&gt;-->

<!--&lt;!&ndash;                                            }&ndash;&gt;-->
<!--&lt;!&ndash;                                        }&ndash;&gt;-->

<!--&lt;!&ndash;                                                                        if ( {{ success_list.pace }}=== {% for success_name in success_list.success_names %}{{ success_name.suc_pace }}&ndash;&gt;-->
<!--&lt;!&ndash;                                                                        {% endfor %} ) {&ndash;&gt;-->
<!--&lt;!&ndash;                                                                                   document.getElementById("btnget").disabled = false;&ndash;&gt;-->
<!--&lt;!&ndash;                                                                                    } else {&ndash;&gt;-->
<!--&lt;!&ndash;                                                                                   document.getElementById("btnget").disabled = true;&ndash;&gt;-->
<!--&lt;!&ndash;                                                                                    }&ndash;&gt;-->

<!--                                    </script>-->
                                    <!--                                    {% endfor %}-->
<!--                                </button>-->
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        <!--Table body-->
                    </table>
                    <!--Table-->
                </div>
            </div>
        </div>
        <hr class="my-4">

        <div class="text-center darken-grey-text mb-4">
        </div>

    </div>
    <!--MDB Tables-->

</main>


<!-- 表格結束-->


<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/static/vendor/aos/aos.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/static/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/static/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/static/js/main.js"></script>

</body>

</html>
