<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>做伙來讀冊 - Learn it well</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/static/images/hello.png" rel="icon">
    <link href="/static/images/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/static/vendor/aos/aos.css" rel="stylesheet">
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/static/css/style.css" rel="stylesheet">

    <link href="/static/css/inpage.css?v=<?=time()?>" rel="stylesheet">

    <style>
        /* Style the buttons that are used to open and close the accordion panel */
        .btn {
            background-color: #71c55d;
            text-decoration: none;
            color: #FFF;
            padding: 10px;
            /*width: 5px;*/
            /*height: 20px;*/
            border-radius: 10px;
        }





    </style>

</head>
<body>

<form action="/addqus/{{discussroom.no}}/" method="post">

    {% csrf_token %}
    {% for message in messages %}
    <div class="alert alert-success">
        <a class="close" href="#" data-dismiss="alert"></a>
        {{ message }}
    </div>
    {% endfor %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <center><h2>新增問題</h2></center>
                <br>
            </div>
            <div class="col">
            </div>
            <div class="col">
                <input class="text" type="hidden" id="discussroom_no_id" name="discussroom_no_id"
                       value="{{discussroom.no}}" required="required" disabled>
                <br>
                <h3><textarea class="text" id="title" name="title" rows="6"
                              cols="40" required="required" value="在這裡打上你想要跟大家討論的問題吧!"></textarea></h3><br>
                <script type=”text/javascript”>
                    function clearDefault(el) {if (el.defaultValue==el.value) el.value = “”   }
                </script>
                <center>
                    <button type="submit" class="btn msger-send-btn"
                            style="width:100px;height:40px;border:12px blue none;background-color:#71c55d;color:white;margin-left:5px;">
                        確認
                    </button>
                    <a class="btn button"
                       style="width:100px;height:40px;border:12px blue none;background-color:#71c55d;color:white;margin-left:5px;"
                       href="/inpage/{{discussroom.no}}/">退出</a>
                </center>

            </div>
            <div class="col">
            </div>
        </div>
    </div>
</form>
</body>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!--<script src="/static/js/chatroommsg.js"></script>-->
<!--<script src="/static/js/popup.js"></script>-->
<!-- Vendor JS Files -->
<script src='https://use.fontawesome.com/releases/v5.0.13/js/all.js'></script>
<script src="/static/vendor/aos/aos.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/static/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/static/vendor/php-email-form/validate.js"></script>

</html>