<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>做伙來讀冊 - Learn it well</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/static/images/hello.png" rel="icon">
    <link href="/static/images/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/static/vendor/aos/aos.css" rel="stylesheet">
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!--    &lt;!&ndash; Template Main CSS File &ndash;&gt;-->

    <!--    <link href="/static/lib/animate/animate.min.css" rel="stylesheet">-->
    <!--    <link href="/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">-->
    <!--    <link href="/static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">-->

    <!--    <link href="/static/css/bootstrap.min.css" rel="stylesheet">-->

    <!-- Template Stylesheet -->
    <link href="/static/css/style.css" rel="stylesheet">
    <!-- 報表 -->
    <link rel="stylesheet" href="/static/vendor/mdi/css/materialdesignicons.min.css?v=<?=time()?>">
    <link rel="stylesheet" href="/static/vendor/css/vendor.bundle.base.css?v=<?=time()?>">
    <link rel="stylesheet" href="/static/css/report-main.css?v=<?=time()?>">
    <link rel="shortcut icon" href="/static/images/favicon.ico?v=<?=time()?>">

</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <div id="logo">
            <h1>
                <img src="/static/images/hello.png">
                <a href="/"><span>做伙</span>來讀冊</a>
            </h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" title="" /></a>-->
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="/">首頁</a></li>
                <li class="dropdown"><a href="#"><span>使用者</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/userdetail/<int:pk>/">個人資料</a></li>
                        <li><a href="/achievement/">成就</a></li>
                        <li><a href="/studyplan/">學習規劃</a></li>
                        <li class="dropdown"><a href="/report/"><span>讀書報表</span> <i
                                class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="/week-report/">週報表</a></li>
                                <li><a href="/day-report/">日報表</a></li>
                            </ul>
                        </li>
                    </ul>
                <li><a class="nav-link scrollto" href="/studyroom/">自習室</a></li>
                <li><a class="nav-link scrollto" href="/discusroom/">討論室</a></li>
                <li><a class="nav-link scrollto" href="/developer/">開發人員</a></li>
                <li><a class="nav-link scrollto" href="/logout/">登出</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->

<section>
    <!-- partial -->
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row justify-content-center">
                <div class="page-header">
                    <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white me-2">
                  <i class="mdi mdi-home"></i>
                </span> Dashboard
                    </h3>
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item active" aria-current="page">
                                <span></span>Overview <i
                                    class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="row">
                    <div class="col-md-4 stretch-card grid-margin">
                        <div class="card bg-gradient-danger card-img-holder text-white">
                            <div class="card-body">
                                <img src="/static/images/dashboard/circle.svg" class="card-img-absolute"
                                     alt="circle-image"/>
                                <h4 class="font-weight-normal mb-3">累積天數 <i
                                        class="mdi mdi-chart-line mdi-24px float-right"></i>
                                </h4>
                                <h2 class="mb-5">總天數為 110 天</h2>
                                <h6 class="card-text">數據從2022.05.01開始計算</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 stretch-card grid-margin">
                        <div class="card bg-gradient-info card-img-holder text-white">
                            <div class="card-body">
                                <img src="/static/images/dashboard/circle.svg" class="card-img-absolute"
                                     alt="circle-image"/>
                                <h4 class="font-weight-normal mb-3">累積時長<i
                                        class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                                </h4>
                                <h2 class="mb-5">總時長為 63 小時</h2>
                                <h6 class="card-text">數據從2022.05.01開始計算</h6>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <div class="clearfix">
                                        <h4 class="card-title float-left">大範圍長條圖</h4>
                                        <div id="visit-sale-chart-legend"
                                             class="rounded-legend legend-horizontal legend-top-right float-right"></div>
                                    </div>
                                    <canvas id="visit-sale-chart" class="mt-4"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">圓餅圖1</h4>
                                    <canvas id="traffic-chart"></canvas>
                                    <div id="traffic-chart-legend"
                                         class="rounded-legend legend-vertical legend-bottom-left pt-4"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">折線圖</h4>
                                    <canvas id="lineChart" style="height:250px"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">環圈圖</h4>
                                    <canvas id="doughnutChart" style="height:130px"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">小範圍長條圖</h4>
                                <canvas id="barChart" style="height:250px"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">圓餅圖2</h4>
                                <canvas id="pieChart" style="height:130px"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">面積圖</h4>
                                <canvas id="areaChart" style="height:250px"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
<!--                <div class="row">-->
<!--                    <div class="col-12 grid-margin">-->
<!--                        <div class="card">-->
<!--                            <div class="card-body">-->
<!--                                <h4 class="card-title">最近的活動</h4>-->
<!--                                <div class="table-responsive">-->
<!--                                    <table class="table">-->
<!--                                        <thead>-->
<!--                                        <tr>-->
<!--                                            <th> Assignee</th>-->
<!--                                            <th> Subject</th>-->
<!--                                            <th> Status</th>-->
<!--                                            <th> Last Update</th>-->
<!--                                            <th> Tracking ID</th>-->
<!--                                        </tr>-->
<!--                                        </thead>-->
<!--                                        <tbody>-->
<!--                                        <tr>-->
<!--                                            <td>-->
<!--                                                <img src="/static/images/faces/face1.jpg" class="me-2" alt="image">-->
<!--                                                David-->
<!--                                                Grey-->
<!--                                            </td>-->
<!--                                            <td> Fund is not recieved</td>-->
<!--                                            <td>-->
<!--                                                <label class="badge badge-gradient-success">DONE</label>-->
<!--                                            </td>-->
<!--                                            <td> Dec 5, 2017</td>-->
<!--                                            <td> WD-12345</td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td>-->
<!--                                                <img src="/static/images/faces/face2.jpg" class="me-2" alt="image">-->
<!--                                                Stella Johnson-->
<!--                                            </td>-->
<!--                                            <td> High loading time</td>-->
<!--                                            <td>-->
<!--                                                <label class="badge badge-gradient-warning">PROGRESS</label>-->
<!--                                            </td>-->
<!--                                            <td> Dec 12, 2017</td>-->
<!--                                            <td> WD-12346</td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td>-->
<!--                                                <img src="/static/images/faces/face3.jpg" class="me-2" alt="image">-->
<!--                                                Marina Michel-->
<!--                                            </td>-->
<!--                                            <td> Website down for one week</td>-->
<!--                                            <td>-->
<!--                                                <label class="badge badge-gradient-info">ON HOLD</label>-->
<!--                                            </td>-->
<!--                                            <td> Dec 16, 2017</td>-->
<!--                                            <td> WD-12347</td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td>-->
<!--                                                <img src="/static/images/faces/face4.jpg" class="me-2" alt="image">-->
<!--                                                John-->
<!--                                                Doe-->
<!--                                            </td>-->
<!--                                            <td> Loosing control on server</td>-->
<!--                                            <td>-->
<!--                                                <label class="badge badge-gradient-danger">REJECTED</label>-->
<!--                                            </td>-->
<!--                                            <td> Dec 3, 2017</td>-->
<!--                                            <td> WD-12348</td>-->
<!--                                        </tr>-->
<!--                                        </tbody>-->
<!--                                    </table>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
            </div>
            <div class="row">
                <div class="col-12 grid-margin">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">任務狀態</h4>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th> 編號</th>
                                        <th> 任務名稱</th>
                                        <th> 日期</th>
                                        <th> 進度</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td> 1</td>
                                        <td> 自習十小時</td>
                                        <td> 2022.05.01</td>
                                        <td>
                                            <div class="progress">
                                                <div class="progress-bar bg-gradient-success" role="progressbar"
                                                     style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                                                     aria-valuemax="100"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> 2</td>
                                        <td> 討論一小時</td>
                                        <td> 2022.05.01</td>
                                        <td>
                                            <div class="progress">
                                                <div class="progress-bar bg-gradient-danger" role="progressbar"
                                                     style="width: 75%" aria-valuenow="75" aria-valuemin="0"
                                                     aria-valuemax="100"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> 3</td>
                                        <td> 完成規劃項目五項</td>
                                        <td> 2022.05.01</td>
                                        <td>
                                            <div class="progress">
                                                <div class="progress-bar bg-gradient-warning" role="progressbar"
                                                     style="width: 90%" aria-valuenow="90" aria-valuemin="0"
                                                     aria-valuemax="100"></div>
                                            </div>
                                        </td>
                                    </tr>
<!--                                    <tr>-->
<!--                                        <td> 4</td>-->
<!--                                        <td> Peter Meggik</td>-->
<!--                                        <td> May 15, 2015</td>-->
<!--                                        <td>-->
<!--                                            <div class="progress">-->
<!--                                                <div class="progress-bar bg-gradient-primary" role="progressbar"-->
<!--                                                     style="width: 50%" aria-valuenow="50" aria-valuemin="0"-->
<!--                                                     aria-valuemax="100"></div>-->
<!--                                            </div>-->
<!--                                        </td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td> 5</td>-->
<!--                                        <td> Edward</td>-->
<!--                                        <td> May 03, 2015</td>-->
<!--                                        <td>-->
<!--                                            <div class="progress">-->
<!--                                                <div class="progress-bar bg-gradient-danger" role="progressbar"-->
<!--                                                     style="width: 35%" aria-valuenow="35" aria-valuemin="0"-->
<!--                                                     aria-valuemax="100"></div>-->
<!--                                            </div>-->
<!--                                        </td>-->
<!--                                    </tr>-->
<!--                                    <tr>-->
<!--                                        <td> 5</td>-->
<!--                                        <td> Ronald</td>-->
<!--                                        <td> Jun 05, 2015</td>-->
<!--                                        <td>-->
<!--                                            <div class="progress">-->
<!--                                                <div class="progress-bar bg-gradient-info" role="progressbar"-->
<!--                                                     style="width: 65%" aria-valuenow="65" aria-valuemin="0"-->
<!--                                                     aria-valuemax="100"></div>-->
<!--                                            </div>-->
<!--                                        </td>-->
<!--                                    </tr>-->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="col-md-5 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title text-white">Todo</h4>
                            <div class="add-items d-flex">
                                <input type="text" class="form-control todo-list-input"
                                       placeholder="What do you need to do today?">
                                <button class="add btn btn-gradient-primary font-weight-bold todo-list-add-btn"
                                        id="add-task">Add
                                </button>
                            </div>
                            <div class="list-wrapper">
                                <ul class="d-flex flex-column-reverse todo-list todo-list-custom">
                                    <li>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="checkbox" type="checkbox"> Meeting with Alisa
                                            </label>
                                        </div>
                                        <i class="remove mdi mdi-close-circle-outline"></i>
                                    </li>
                                    <li class="completed">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="checkbox" type="checkbox" checked> Call John
                                            </label>
                                        </div>
                                        <i class="remove mdi mdi-close-circle-outline"></i>
                                    </li>
                                    <li>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="checkbox" type="checkbox"> Create invoice </label>
                                        </div>
                                        <i class="remove mdi mdi-close-circle-outline"></i>
                                    </li>
                                    <li>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="checkbox" type="checkbox"> Print Statements
                                            </label>
                                        </div>
                                        <i class="remove mdi mdi-close-circle-outline"></i>
                                    </li>
                                    <li class="completed">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="checkbox" type="checkbox" checked> Prepare for
                                                presentation </label>
                                        </div>
                                        <i class="remove mdi mdi-close-circle-outline"></i>
                                    </li>
                                    <li>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="checkbox" type="checkbox"> Pick up kids from
                                                school </label>
                                        </div>
                                        <i class="remove mdi mdi-close-circle-outline"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
            <div class="container-fluid d-flex justify-content-between">
                <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Copyright © bootstrapdash.com 2021</span>
                <span class="float-none float-sm-end mt-1 mt-sm-0 text-end"> Free <a
                        href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin template</a> from Bootstrapdash.com</span>
            </div>
        </footer>
        <!-- partial -->
    </div>
    <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
    </div>
</section>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/static/vendor/aos/aos.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/static/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/static/vendor/php-email-form/validate.js"></script>

<!--紫版-->
<!--<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>-->
<!--<script src="/static/lib/wow/wow.min.js"></script>-->
<!--<script src="/static/lib/easing/easing.min.js"></script>-->
<!--<script src="/static/lib/waypoints/waypoints.min.js"></script>-->
<!--<script src="/static/lib/counterup/counterup.min.js"></script>-->
<!--<script src="/static/lib/owlcarousel/owl.carousel.min.js"></script>-->
<!--<script src="/static/lib/isotope/isotope.pkgd.min.js"></script>-->
<!--<script src="/static/lib/lightbox/js/lightbox.min.js"></script>-->
<!-- Template Main JS File -->
<!-- 報表 -->
<script src="/static/js/reportmain.js?v=<?=time()?>"></script>
<script src="/static/js/main.js"></script>
<script src="/static/vendor/js/vendor.bundle.base.js"></script>
<script src="/static/vendor/chart.js/Chart.min.js?v=<?=time()?>"></script>
<script src="/static/js/jquery.cookie.js" type="text/javascript"></script>
<script src="/static/js/off-canvas.js"></script>
<script src="/static/js/hoverable-collapse.js"></script>
<script src="/static/js/misc.js"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script src="/static/js/dashboard.js?v=<?=time()?>"></script>
<script src="/static/js/todolist.js"></script>
<script src="/static/js/chart.js?v=<?=time()?>"></script>
</body>

</html>

