<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>做伙來讀冊 - Learn it well</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/static/images/hello.png" rel="icon">
    <link href="/static/images/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/static/vendor/aos/aos.css" rel="stylesheet">
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">


    <!-- Template Main CSS File -->
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/developer.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: eStartup - v4.7.1
    * Template URL: https://bootstrapmade.com/estartup-bootstrap-landing-page-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <div id="logo">
            <h1>
                <img src="/static/images/hello.png">
                <a href="/"><span>做伙</span>來讀冊</a>
            </h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" title="" /></a>-->
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="/">首頁</a></li>
                <li class="dropdown"><a href="#"><span>使用者</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/userdetail/">個人資料</a></li>
                        <li><a href="/achievement/">成就</a></li>
                        <li><a href="/studyplan/">讀書規劃</a></li>
                        <li class="dropdown"><a href="/report/"><span>讀書報表</span> <i
                                class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="/ReportWeek/">週報表</a></li>
                                <li><a href="/ReportDay/">日報表</a></li>
                            </ul>
                        </li>
                    </ul>
                <li><a class="nav-link scrollto" href="/studyroom/">自習室</a></li>
                <li><a class="nav-link scrollto" href="/discusroom/">討論室</a></li>
                <li><a class="nav-link scrollto" href="/developer/">開發人員</a></li>
                {% if 'user_id' not in request.COOKIES.keys %}
                <li><a class="nav-link scrollto" href="/login/">登入</a></li>
                {% endif %}
                {% if 'user_id' in request.COOKIES.keys %}
                <li><a class="nav-link scrollto" href="/logout/">登出</a></li>
                {% endif %}
                <!--                <li><a class="nav-link scrollto" href="#contact">Contact</a></li>-->
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->
<style>
    .our-team{
        border-radius: 15px;
        text-align: center;
        padding: 0.1px 15px 0.1px;
        background: #fff;

    }
    .our-team .pic{
        background: #fff;
        padding: 15px;
        margin-bottom: 4px;
        display: inline-block;
        width: 100%;
        height: 100%;
        transition: all 0.5s ease 0s;
    }
    .our-team:hover .pic{

        border-radius: 100%;
    }
    .pic img{
        width: 100%;
        height: auto;
        border-radius: 50%;
    }
    .our-team .title{
        font-weight: 600;
        color: #2e282a;
        text-transform: uppercase;
        display: block;
        font-size: 25px;
        margin: 0 0 7px 0;
    }
    .our-team .post{
        color: #71C55D;
        text-transform: capitalize;
        display: block;
        font-size: 15px;
        margin-bottom: 15px;
    }





</style>

<section class="inner-page pt-4">
    <section class="padd-section text-cente">
        <section id="team" class="padd-section text-center">
            <div class="container">
                <br>
                <div class="row" style="justify-content: center">

                    <br>
                    <div class="text-center">
                        <h2><b class="r1">開發團隊</b></h2><br>
                    </div>
                    <!--0st member-->
                    <div class="col-md-2 col-sm-1">
                        <div class="our-team">
                            <div class="pic">
                                <img src="/static/images/男老師.jpg">
                            </div>
                            <h3 class="title">林宏仁 老師</h3>
                            <span class="post" style="font-weight:bold; color:#6fa862;">指導老師</span>

                            <!--social icon-->

                        </div>
                    </div>
                     <!--4th member-->

                    <div class="col-md-2 col-sm-1">
                        <div class="our-team">
                            <div class="pic">
                                <img src="/static/images/10756032.jpg">
                            </div>
                            <h3 class="title">吳霜</h3>
                            <span class="post"><span
                                    style="font-weight:bold;color:#6fa862;">組長&emsp; </span>開發人員</span>

                            <!--social icon-->

                        </div>
                    </div>
                    <!--1st member-->
                    <div class="col-md-2 col-sm-1">
                        <div class="our-team">
                            <div class="pic">
                                <img src="/static/images/10756022.jpg">
                            </div>
                            <h3 class="title">李容禎</h3>
                            <span class="post">開發人員</span>

                            <!--social icon-->

                        </div>
                    </div>

                    <!--2nd member-->

                    <div class="col-md-2 col-sm-1">
                        <div class="our-team">
                            <div class="pic">
                                <img src="/static/images/10756023.jpg">
                            </div>
                            <h3 class="title">吳佳芸</h3>
                            <span class="post">開發人員</span>

                            <!--social Icon-->

                        </div>
                    </div>

                    <!--3rd member-->

                    <div class="col-md-2 col-sm-1">
                        <div class="our-team">
                            <div class="pic">
                                <img src="/static/images/10756027.jpg">
                            </div>
                            <h3 class="title">陳玟妤</h3>
                            <span class="post">開發人員</span>

                            <!--social icon-->

                        </div>
                    </div>
                    <!--5th member-->

                    <div class="col-md-2 col-sm-1">
                        <div class="our-team">
                            <div class="pic">
                                <img src="/static/images/10756044.jpg">
                            </div>
                            <h3 class="title">蔡佑慈</h3>
                            <span class="post">開發人員</span>

                            <!--social icon-->

                        </div>
                    </div>
                </div>
            </div>


                </div>


            <!--                    <div class="container" data-aos="fade-up">-->
            <!--                        <div class="text-center">-->
            <!--                            <h2><b class="r1">開發團隊</b></h2><br>-->
            <!--                        </div>-->
            <!--                        <h3>-->
            <!--                            <i class="bi bi-person-fill"></i>-->
            <!--                            <b>開發人員 李容禎</b><br><br>-->
            <!--                            <i class="bi bi-person-fill"></i>-->
            <!--                            <b>開發人員 吳佳芸</b><br><br>-->
            <!--                            <i class="bi bi-person-fill"></i>-->
            <!--                            <b>開發人員 陳玟妤</b><br><br>-->
            <!--                            <i class="bi bi-person-fill"></i>-->
            <!--                            <b>開發人員 吳&emsp;霜</b><br><br>-->
            <!--                            <i class="bi bi-person-fill"></i>-->
            <!--                            <b>開發人員 蔡佑慈</b><br><br>-->
            <!--                        </h3>-->
            <!--                    </div>-->
            </font>
        </section>
    </section>
    </div>
    </div>
</section>
<!-- End Team Section -->


</div>


</main><!-- End #m-->

<!--                    <div class="row">-->
<!--                        <div class="row justify-content-center">&lt;!&ndash;置中&ndash;&gt;-->
<!--                            <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="100">-->
<!--                                <div class="team-block bottom">-->
<!--                                    <img src="/static/images/team/1.jpg" class="img-responsive" alt="img">-->
<!--                                    <div class="team-content">-->
<!--                                        <ul class="list-unstyled">-->
<!--                                            <li><a href="#"><i class="bi bi-facebook"></i></a></li>-->
<!--                                            <li><a href="#"><i class="bi bi-twitter"></i></a></li>-->
<!--                                            <li><a href="#"><i class="bi bi-linkedin"></i></a></li>-->
<!--                                        </ul>-->
<!--                                        <span>開發人員</span>-->
<!--                                        <h4>李容禎</h4>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="200">-->
<!--                                <div class="team-block bottom">-->
<!--                                    <img src="/static/images/team/2.jpg" class="img-responsive" alt="img">-->
<!--                                    <div class="team-content">-->
<!--                                        <ul class="list-unstyled">-->
<!--                                            <li><a href="#"><i class="bi bi-facebook"></i></a></li>-->
<!--                                            <li><a href="#"><i class="bi bi-twitter"></i></a></li>-->
<!--                                            <li><a href="#"><i class="bi bi-linkedin"></i></a></li>-->
<!--                                        </ul>-->
<!--                                        <span>開發人員</span>-->
<!--                                        <h4>吳佳芸</h4>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="300">-->
<!--                                <div class="team-block bottom">-->
<!--                                    <img src="/static/images/team/3.jpg" class="img-responsive" alt="img">-->
<!--                                    <div class="team-content">-->
<!--                                        <ul class="list-unstyled">-->
<!--                                            <li><a href="#"><i class="bi bi-facebook"></i></a></li>-->
<!--                                            <li><a href="#"><i class="bi bi-twitter"></i></a></li>-->
<!--                                            <li><a href="#"><i class="bi bi-linkedin"></i></a></li>-->
<!--                                        </ul>-->
<!--                                        <span>開發人員</span>-->
<!--                                        <h4>陳玟妤</h4>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->


<!--                        <p>-->
<!--                        <div class="row justify-content-center"> &lt;!&ndash;置中&ndash;&gt;-->
<!--                            <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="400">-->
<!--                                <div class="team-block bottom">-->
<!--                                    <img src="/static/images/team/4.jpg" class="img-responsive" alt="img">-->
<!--                                    <div class="team-content">-->
<!--                                        <ul class="list-unstyled">-->
<!--                                            <li><a href="#"><i class="bi bi-facebook"></i></a></li>-->
<!--                                            <li><a href="#"><i class="bi bi-twitter"></i></a></li>-->
<!--                                            <li><a href="#"><i class="bi bi-linkedin"></i></a></li>-->
<!--                                        </ul>-->
<!--                                        <span>開發人員</span>-->
<!--                                        <h4>吳霜</h4>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="400">-->
<!--                                <div class="team-block bottom">-->
<!--                                    <img src="/static/images/team/4.jpg" class="img-responsive" alt="img">-->
<!--                                    <div class="team-content">-->
<!--                                        <ul class="list-unstyled">-->
<!--                                            <li><a href="#"><i class="bi bi-facebook"></i></a></li>-->
<!--                                            <li><a href="#"><i class="bi bi-twitter"></i></a></li>-->
<!--                                            <li><a href="#"><i class="bi bi-linkedin"></i></a></li>-->
<!--                                        </ul>-->
<!--                                        <span>開發人員</span>-->
<!--                                        <h4>蔡佑慈</h4>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        </p>-->


</div>
</div>

</section><!-- End Team Section -->
</section>

</div>
</section>

</main><!-- End #main -->


<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/static/vendor/aos/aos.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/static/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/static/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/static/js/main.js"></script>

</body>

</html>