<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>做伙來讀冊 - Learn it well</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/static/images/hello.png" rel="icon">
    <link href="/static/images/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/static/vendor/aos/aos.css" rel="stylesheet">
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
          id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="static/css/foopicker.css">

    <!-- Template Main CSS File -->
    <link href="/static/css/style.css" rel="stylesheet">

    <!-- login css -->
    <link rel="stylesheet" href="/static/fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="/static/css/login-style.css?v=<?=time()?>">

    <!-- =======================================================
    * Template Name: eStartup - v4.7.1
    * Template URL: https://bootstrapmade.com/estartup-bootstrap-landing-page-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <div id="logo">
            <h1>
                <img src="/static/images/hello.png">
                <a href="/"><span>做伙</span>來讀冊</a>
            </h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" title="" /></a>-->
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="/">首頁</a></li>
                <li><a class="nav-link scrollto" href="/login/">登入</a></li>
                <li class="dropdown"><a href="#"><span>使用者</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/userdetail/">個人資料</a></li>
                        <li><a href="/achievement/">成就</a></li>
                        <li><a href="/studyplan/">讀書規劃</a></li>
                        <li class="dropdown"><a href="/report/"><span>讀書報表</span> <i
                                class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="/ReportWeek/">週報表</a></li>
                                <li><a href="/ReportDay/">日報表</a></li>
                            </ul>
                        </li>
                    </ul>
                <li><a class="nav-link scrollto" href="/studyroom/">自習室</a></li>
                <li><a class="nav-link scrollto" href="/discusroom/">討論室</a></li>
                <li><a class="nav-link scrollto" href="/developer/">開發人員</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->

<section>
    <div class="main">
        <section class="signup">
            <div class="containers">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">忘記密碼</h2>
                        <!--<h2 class="form-title">Sign up</h2>-->
                        <form method="POST" class="register-form" id="register-form">
                            {% csrf_token %}
                            <!--                            <div class="form-group">-->
                            <!--                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>-->
                            <!--                                <input type="text" name="name" id="name" placeholder="名稱" required="required"/>-->
                            <!--                            </div>-->
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="pass" id="pass" placeholder="密碼" required="required"/>
                            </div>
                            <div class="form-group">
                                <label for="re_pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" name="re_pass" id="re_pass" placeholder="重複密碼"
                                       required="required"/>
                            </div>

                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="確認"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image " style="float:left;">
                        <figure><img src="/static/images/signup-image.jpg" alt="sing up image"></figure>
                        <div style="width: 100%; display: table;">
                            <div style="display: table-row">
                                <a href="/login/" class="signup-image-link" style=" display: table-cell;">回到登入</a>
                                <a href="/register/" class="signup-image-link">還沒有帳號</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/static/vendor/aos/aos.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/static/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/static/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/static/js/main.js"></script>
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/js/main.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


</script>

</body>

</html>


<!-- 舊-->
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->

<!--    <title>註冊頁面</title>-->

<!--    <meta name="description" content="Source code generated using layoutit.com">-->
<!--    <meta name="author" content="LayoutIt!">-->

<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"-->
<!--          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->
<!--    <link href="../static/css/style.css" rel="stylesheet">-->

<!--    <script type="text/javascript">-->
<!--		function check(form)-->
<!--		{-->
<!--			if(form.id.value==""||form.pwd.value==""||form.name.value==""||form.birthday.value=="")-->
<!--			{-->
<!--				alert("未輸入完整資料!");-->
<!--				return false;-->
<!--			}-->
<!--            alert("註冊成功");-->
<!--			return true;-->
<!--		}-->
<!--	-->
<!--	</script>-->

<!--</head>-->
<!--<body>-->

<!--        <div class="container-fluid">-->
<!--            <div class="row">-->
<!--                <div class="col-md-3">-->
<!--                </div>-->
<!--                <div class="col-md-6">-->
<!--                    <form role="form" name="myregister" id="myregister" action="" class="register" onsubmit="return check(this)"  required>-->
<!--                        <div class="form-group mb-3">-->
<!--                            <label for="id" class="h5 font-weight-bold" >帳號</label>-->
<!--                            <input type="email" class="form-control" name="id" placeholder="請輸入帳號">-->
<!--                        </div>-->

<!--                        <div class="form-group mb-3">-->
<!--                            <label for="pwd" class="h5 font-weight-bold">密碼</label>-->
<!--                            <input type="password" class="form-control" name="pwd" placeholder="請輸入密碼">-->
<!--                        </div>-->

<!--                        <div class="form-group mb-3">-->
<!--                            <label for="name" class="h5 font-weight-bold">名稱</label>-->
<!--                            <input type="text" class="form-control" maxlength="10" name="name" placeholder="請輸入名稱">-->
<!--                        </div>-->

<!--                        <div class="form-group mb-3">-->
<!--                            <label class="h5 font-weight-bold">居住地</label>-->
<!--                            <div class="g-col-6">-->
<!--                                <select name="department" class="form-control">-->
<!--                                    <option selected disabled value="">選擇縣市</option>-->
<!--                                    <option>...</option>-->
<!--                                </select>-->
<!--                            </div>-->
<!--                            <div class="g-col-6">-->
<!--                                <select name="department" class="form-control">-->
<!--                                    <option selected disabled value="">選擇區域</option>-->
<!--                                    <option>...</option>-->
<!--                                </select>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="form-group mb-3">-->
<!--                            <label for="birthday" class="h5 font-weight-bold">生日</label>-->
<!--                            <input type="date" class="form-control" name="birthday">-->
<!--                        </div>-->

<!--                        <div class="form-group mb-3">-->
<!--                            <label class="h5 font-weight-bold">性別</label>-->

<!--                            <div class="form-check">-->
<!--                                <input class="form-check-input" type="radio" name="gender">-->
<!--                                <label class="form-check-label" for="flexRadioDefault1">-->
<!--                                    男-->
<!--                                </label>-->
<!--                            </div>-->

<!--                            <div class="form-check">-->
<!--                                <input class="form-check-input" type="radio" name="gender" checked>-->
<!--                                <label class="form-check-label" for="flexRadioDefault1">-->
<!--                                    女-->
<!--                                </label>-->
<!--                            </div>-->

<!--                            <div class="form-check">-->
<!--                                <input class="form-check-input" type="radio" name="gender" checked>-->
<!--                                <label class="form-check-label" for="flexRadioDefault1">-->
<!--                                    不願透漏-->
<!--                                </label>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="form-group mb-3">-->
<!--                            <label class="h5 font-weight-bold">上傳照片</label>-->
<!--                            <input type="file" class="form-control-file" name="photo">-->
<!--                        </div>-->

<!--                        <div class="form-group mb-3">-->
<!--                            <button type="submit" class="btn btn-primary h5 font-weight-bold">-->
<!--                                確定送出-->
<!--                            </button>-->
<!--                            <a href="login">已經有帳號</a><br>-->
<!--                            <a href="/login/">回到登入</a><br>-->
<!--                        </div>-->
<!--                    </form>-->
<!--                </div>-->
<!--                <div class="col-md-3">-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    -->

<!--<script src="js/jquery.min.js"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"-->
<!--        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"-->
<!--        crossorigin="anonymous"></script>-->
<!--</body>-->
<!--</html>-->