<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
</head>
<body>
    <form id="form" action="" method="post">
        {% csrf_token %}
        <span>
            <input id="user" type="text" name="user" placeholder="请输入您的用户名">
            <!--用户输入不存在时报错-->
                {{ user_error }}
        </span>
        <br>
        <span>
            <input id="email" type="text" name="email" placeholder="请输入您注册时邮箱">
            <!--用户输入不存在时报错-->
                {{ email_error }}
        </span>
        <br>
        <span>
            <input id="submit" type="submit" value="提交">
        </span>
    </form>
    <span>
        {{ success }}
        {{ send_email_failed }}
    </span>

</body>
</html>
