<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>做伙來讀冊 - Learn it well</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/static/images/hello.png" rel="icon">
    <link href="/static/images/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/static/vendor/aos/aos.css" rel="stylesheet">
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/static/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: eStartup - v4.7.1
    * Template URL: https://bootstrapmade.com/estartup-bootstrap-landing-page-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <div id="logo">

            <h1>
                <img src="/static/images/hello.png">
                <a href="/"><span>做伙</span>來讀冊</a>
            </h1>

            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" title="" /></a>-->
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="/">首頁</a></li>
                <li><a class="nav-link scrollto" href="/login/">登入</a></li>
                <li class="dropdown"><a href="#"><span>使用者</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/userdetail/">個人資料</a></li>
                        <li><a href="/achievement/">成就</a></li>
                        <li><a href="/studyplan/">學習規劃</a></li>
                        <li><a href="/report">讀書報表</a></li>
                    </ul>
                <li><a class="nav-link scrollto" href="/studyroom/">自習室</a></li>
                <li><a class="nav-link scrollto" href="/discusroom/">討論室</a></li>
                <li><a class="nav-link scrollto" href="/developer/">開發人員</a></li>
                <!--                <li><a class="nav-link scrollto" href="#contact">Contact</a></li>-->
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container" data-aos="fade-in">
        <br><br><br><br><br><br><br><br><br><br>
        <h1>做伙來讀冊</h1>
        <h2>LEARN IT WELL</h2>
        <img src="/static/images/hero-img.png" alt="Hero Imgs" data-aos="zoom-out" data-aos-delay="100">
        <a href="/studyroom/" class="btn-get-started scrollto">自習室</a>
        <!--        <a href="#get-started" class="btn-get-started scrollto">Get Started</a>-->
        <a href="/discusroom/" class="btn-get-started scrollto">討論室</a>
        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-3">
                    <div class="block-pricing">
                        <div class="pricing-table">
                            <!--                <h4>PERSONAL</h4>-->
<!--                            <div class="table_btn">-->
                                <a href="/studyroom-self/" class="btn">自習室<i class="bi bi-arrow-right-circle"></i></a>
<!--                            </div>-->
                        </div>
                    </div>
                </div>


                <div class="col-md-6 col-lg-3">
                    <div class="block-pricing">
                        <div class="pricing-table">
                            <!--                <h4>BUSINESS</h4>-->
                            <div class="table_btn">
                                <a href="/studyroom-together/" class="btn"> 討論室<i
                                        class="bi bi-arrow-right-circle"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Hero Section -->

<main id="main">

    <!-- ======= Get Started Section ======= -->
    <section id="get-started" class="padd-section text-center">

        <div class="container" data-aos="fade-up">
            <div class="section-title text-center">

                <h2>主要特色 </h2>
                <p class="separator">Integer cursus bibendum augue ac cursus .</p>

            </div>
        </div>

        <div class="container">
            <div class="row">

                <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
                    <div class="feature-block">

                        <img src="/static/images/svg/cloud.svg" alt="img">
                        <h4>自習室</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                        <a href="#">read more</a>

                    </div>
                </div>

                <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
                    <div class="feature-block">

                        <img src="/static/images/svg/planet.svg" alt="img">
                        <h4>討論室</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                        <a href="#">read more</a>

                    </div>
                </div>

                <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
                    <div class="feature-block">

                        <img src="/static/images/svg/asteroid.svg" alt="img">
                        <h4>客製報表</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                        <a href="#">read more</a>

                    </div>
                </div>

            </div>
        </div>

    </section><!-- End Get Started Section -->

    <!--    &lt;!&ndash; ======= About Us Section ======= &ndash;&gt;-->
    <!--    <section id="about-us" class="about-us padd-section">-->
    <!--        <div class="container" data-aos="fade-up">-->
    <!--            <div class="row justify-content-center">-->

    <!--                <div class="col-md-5 col-lg-3">-->
    <!--                    <img src="/static/images/about-img.png" alt="About" data-aos="zoom-in" data-aos-delay="100">-->
    <!--                </div>-->

    <!--                <div class="col-md-7 col-lg-5">-->
    <!--                    <div class="about-content" data-aos="fade-left" data-aos-delay="100">-->

    <!--                        <h2><span>eStartup</span>UI Design Mobile </h2>-->
    <!--                        <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna-->
    <!--                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip-->
    <!--                            ex ea commodo consequat-->
    <!--                        </p>-->

    <!--                        <ul class="list-unstyled">-->
    <!--                            <li><i class="vi bi-chevron-right"></i>Creative Design</li>-->
    <!--                            <li><i class="vi bi-chevron-right"></i>Retina Ready</li>-->
    <!--                            <li><i class="vi bi-chevron-right"></i>Easy to Use</li>-->
    <!--                            <li><i class="vi bi-chevron-right"></i>Unlimited Features</li>-->
    <!--                            <li><i class="vi bi-chevron-right"></i>Unlimited Features</li>-->
    <!--                        </ul>-->

    <!--                    </div>-->
    <!--                </div>-->

    <!--            </div>-->
    <!--        </div>-->
    <!--    </section>&lt;!&ndash; End About Us Section &ndash;&gt;-->

    <!-- ======= Features Section ======= -->
    <section id="features" class="padd-section text-center">

        <div class="container" data-aos="fade-up">
            <div class="section-title text-center">
                <h2>功能簡介</h2>
                <p class="separator">Integer cursus bibendum augue ac cursus .</p>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="100">

                <div class="col-md-6 col-lg-3">
                    <div class="feature-block">
                        <img src="/static/images/svg/paint-palette.svg" alt="img">
                        <h4>自習室</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="feature-block">
                        <img src="/static/images/svg/vector.svg" alt="img">
                        <h4>討論室</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="feature-block">
                        <img src="/static/images/svg/design-tool.svg" alt="img">
                        <h4>報表</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="feature-block">
                        <img src="/static/images/svg/asteroid.svg" alt="img">
                        <h4>學習規劃</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                    </div>
                </div>

                <!--                <div class="col-md-6 col-lg-3">-->
                <!--                    <div class="feature-block">-->
                <!--                        <img src="/static/images/svg/asteroid.svg" alt="img">-->
                <!--                        <h4>Free Updates</h4>-->
                <!--                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>-->
                <!--                    </div>-->
                <!--                </div>-->

                <!--                <div class="col-md-6 col-lg-3">-->
                <!--                    <div class="feature-block">-->
                <!--                        <img src="/static/images/svg/cloud-computing.svg" alt="img">-->
                <!--                        <h4>App store support</h4>-->
                <!--                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>-->
                <!--                    </div>-->
                <!--                </div>-->

                <!--                <div class="col-md-6 col-lg-3">-->
                <!--                    <div class="feature-block">-->
                <!--                        <img src="/static/images/svg/pixel.svg" alt="img">-->
                <!--                        <h4>Perfect Pixel</h4>-->
                <!--                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>-->
                <!--                    </div>-->
                <!--                </div>-->

                <!--                <div class="col-md-6 col-lg-3">-->
                <!--                    <div class="feature-block">-->
                <!--                        <img src="/static/images/svg/code.svg" alt="img">-->
                <!--                        <h4>clean codes</h4>-->
                <!--                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>-->
                <!--                    </div>-->
                <!--                </div>-->

            </div>
        </div>
    </section><!-- End Features Section -->

    <!-- ======= Screenshots Section ======= -->
    <section id="screenshots" class="padd-section text-center">

        <div class="container" data-aos="fade-up">
            <div class="section-title text-center">
                <h2>App Gallery</h2>
                <p class="separator">Integer cursus bibendum augue ac cursus .</p>
            </div>

            <div class="screens-slider swiper">
                <div class="swiper-wrapper align-items-center">
                    <div class="swiper-slide"><img src="/static/images/screen/1.jpg" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="/static/images/screen/2.jpg" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="/static/images/screen/3.jpg" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="/static/images/screen/4.jpg" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="/static/images/screen/5.jpg" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="/static/images/screen/6.jpg" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="/static/images/screen/7.jpg" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="/static/images/screen/8.jpg" class="img-fluid" alt=""></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>

    </section><!-- End Screenshots Section -->

    <!-- ======= Video Section ======= -->
    <section id="video" class="text-center">
        <div class="overlay">
            <div class="container-fluid container-full" data-aos="zoom-in">

                <div class="row">
                    <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q&feature=emb_title"
                       class="glightbox play-btn"></a>
                </div>

            </div>
        </div>
    </section><!-- End Video Section -->

    <section id="testimonials" class="padd-section text-center">
        <div class="container" data-aos="fade-up">
            <div class="row justify-content-center">

                <div class="col-md-8">

                    <div class="testimonials-content">
                        <div id="carousel-example-generic" class="carousel slide" data-bs-ride="carousel">

                            <div class="carousel-inner" role="listbox">

                                <div class="carousel-item  active">
                                    <div class="top-top">

                                        <h2>會員陳阿榮好評</h2>
                                        <p>真正的幫助到了想讀書的人，推推</p>
                                        <h4>Kimberly Tran<span>manager</span></h4>

                                    </div>
                                </div>

                                <div class="carousel-item ">
                                    <div class="top-top">

                                        <h2>使用者好評</h2>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since the
                                            1500s, when an unknown printer took a galley of type and scrambled it to
                                            make a type
                                            specimen book. It has survived not only five centuries.</p>
                                        <h4>Henderson<span>manager</span></h4>

                                    </div>
                                </div>

                                <div class="carousel-item ">
                                    <div class="top-top">

                                        <h2>使用者好評</h2>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since the
                                            1500s, when an unknown printer took a galley of type and scrambled it to
                                            make a type
                                            specimen book. It has survived not only five centuries.</p>
                                        <h4>David Spark<span>manager</span></h4>

                                    </div>
                                </div>

                            </div>

                            <div class="btm-btm">

                                <ul class="list-unstyled carousel-indicators">
                                    <li data-bs-target="#carousel-example-generic" data-bs-slide-to="0"
                                        class="active"></li>
                                    <li data-bs-target="#carousel-example-generic" data-bs-slide-to="1"></li>
                                    <li data-bs-target="#carousel-example-generic" data-bs-slide-to="2"></li>
                                </ul>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="padd-sectio">

        <div class="container" data-aos="fade-up">
            <div class="section-title text-center">

                <h2>最新消息</h2>
                <p class="separator">Integer cursus bibendum augue ac cursus .</p>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="100">

                <div class="col-md-6 col-lg-4">
                    <div class="block-blog text-left">
                        <a href="#"><img src="/static/images/blog/blog-image-1.jpg" alt="img"></a>
                        <div class="content-blog">
                            <h4><a href="#">whats isthe difference between good and bat typography</a></h4>
                            <span>05, juin 2017</span>
                            <a class="float-end readmore" href="#">read more</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="block-blog text-left">
                        <a href="#"><img src="/static/images/blog/blog-image-2.jpg" class="img-responsive"
                                         alt="img"></a>
                        <div class="content-blog">
                            <h4><a href="#">whats isthe difference between good and bat typography</a></h4>
                            <span>05, juin 2017</span>
                            <a class="float-end readmore" href="#">read more</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="block-blog text-left">
                        <a href="#"><img src="/static/images/blog/blog-image-3.jpg" class="img-responsive"
                                         alt="img"></a>
                        <div class="content-blog">
                            <h4><a href="#">whats isthe difference between good and bat typography</a></h4>
                            <span>05, juin 2017</span>
                            <a class="float-end readmore" href="#">read more</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section><!-- End Blog Section -->

    <!-- ======= Newsletter Section ======= -->
    <section id="newsletter" class="newsletter text-center">
        <div class="overlay padd-section">
            <div class="container" data-aos="zoom-in">

                <div class="row justify-content-center">
                    <div class="col-md-9 col-lg-6">
                        <form class="d-flex" method="POST" action="#">
                            <input type="email" class="form-control " placeholder="Email Adress" name="email">
                            <button type="submit" class="btn btn-default"><i class="bi bi-location-arrow"></i>Subscribe
                            </button>
                        </form>
                    </div>
                </div>

                <ul class="list-unstyled">
                    <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                    <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                    <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                    <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                </ul>

            </div>
        </div>
    </section><!-- End Newsletter Section -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="/static/vendor/aos/aos.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/static/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/static/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/static/js/main.js"></script>

</body>

</html>