<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>做伙來讀冊 - Learn it well</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/static/images/hello.png" rel="icon">
    <link href="/static/images/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/static/vendor/aos/aos.css" rel="stylesheet">
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/static/css/style.css" rel="stylesheet">

    <link href="/static/css/inpage.css" rel="stylesheet">


</head>
<body>
<!-- ======= Header ======= -->
<!--<header id="header" class="header fixed-top d-flex align-items-center">-->
<!--    <div class="container d-flex align-items-center justify-content-between">-->

<!--        <div id="logo">-->
<!--            <h1>-->
<!--                <img src="/static/images/hello.png">-->
<!--                <a href="/"><span>做伙</span>來讀冊</a>-->
<!--            </h1>-->
<!--            &lt;!&ndash; Uncomment below if you prefer to use an image logo &ndash;&gt;-->
<!--            &lt;!&ndash; <a href="index.html"><img src="assets/img/logo.png" alt="" title="" /></a>&ndash;&gt;-->
<!--        </div>-->

<!--        <nav id="navbar" class="navbar">-->
<!--            <ul>-->
<!--                <li><a class="nav-link scrollto active" href="/">首頁</a></li>-->
<!--                <li><a class="nav-link scrollto" href="/login/">登入</a></li>-->
<!--                <li class="dropdown"><a href="#"><span>使用者</span> <i class="bi bi-chevron-down"></i></a>-->
<!--                    <ul>-->
<!--                        <li><a href="/userdetail/">個人資料</a></li>-->
<!--                        <li><a href="/achievement/">成就</a></li>-->
<!--                        <li><a href="/studyplan/">學習規劃</a></li>-->
<!--                        <li><a href="/report">讀書報表</a></li>-->
<!--                    </ul>-->
<!--                <li><a class="nav-link scrollto" href="/studyroom/">自習室</a></li>-->
<!--                <li><a class="nav-link scrollto" href="/discusroom/">討論室</a></li>-->
<!--                <li><a class="nav-link scrollto" href="/developer/">開發人員</a></li>-->
<!--            </ul>-->
<!--            <i class="bi bi-list mobile-nav-toggle"></i>-->
<!--        </nav>&lt;!&ndash; .navbar &ndash;&gt;-->

<!--    </div>-->
<!--</header>&lt;!&ndash; End Header &ndash;&gt;-->

<!--<center>-->
<br>
<br>
<br>
<section class="msger">
    <header class="msger-header">
        <div class="msger-header-title">
            <i class="fas fa-comment-alt"></i>
        </div>
        <div class="msger-header-options">
            <span><i class="fas fa-cog"></i></span>
        </div>
    </header>
    <!--聊天 block-->
    <div class="msger-chat">

    </div>
    <!--聊天 block-->

    <div class="msger-inputarea">
        <button type="button" id="demo1" class="btn" style="margin-right:5px;background-color:#71c55d;">提問</button>
        <br>
        <input type="text" class="msger-input" id="msg" placeholder="說些什麼吧～">
        <button type="button" id="send" class="msger-send-btn">發送訊息</button>
    </div>
</section>

<!--</center>-->
</body>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>


<script src="/static/js/webChat.js?v=<?=time()?"></script>
<!-- Vendor JS Files -->
<script src="/static/vendor/aos/aos.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/static/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/static/vendor/php-email-form/validate.js"></script>
<!-- SweetAlert -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js?v=<?=time()?"></script>
<sript src="/static/js/sweetalert.js?v=<?=time()?"></sript>

<!-- Template Main JS File -->
<script src="/static/js/main.js"></script>
</body>
</html>