<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .message {
            height: 300px;
            border: 1px solid #dddddd;
            width: 100%;
        }
    </style>
</head>
<body>
<div class="message" id="message"></div>
<div>
    <input type="text" placeholder="請輸入" id="txt">
    <input type="button" value="發送" onclick="sendMessage()">
    <input type="button" value="關閉連接" onclick="closeConn()">
</div>

<script>
    // var socket = new WebSocket("ws://127.0.0.1:9000/ws/{{ group }}/");
    socket = new WebSocket("ws://127.0.0.1:9000/room/123/");

    //創建好後自動觸發
    socket.onopen = function (event){
        let tag = document.createElement("div");
        tag.innerText = "[connect success]";
        document.getElementById("message").appendChild(tag);
    }

    // 當websocket接收到服務端的消息，會自動觸發
    socket.onmessage = function (event){
        let tag = document.createElement("div");
        tag.innerText = event.data;
        document.getElementById("message").appendChild(tag);
    }

    //服務端主動斷開時，觸發的方法
    socket.onclose = function (event) {
        let tag = document.createElement("div");
        tag.innerText = "[disconnect success]";
        document.getElementById("message").appendChild(tag);
    };

    function sendMessage(){
        let tag = document.getElementById("txt");
        socket.send(tag.value);
    }

    function closeConn(){
        socket.close(); //向服務端發送端開連結的請求(客戶端主動斷開連接)
    }

</script>

</body>
</html>