<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>做伙來讀冊 - Learn it well</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!--google第三方登入-->
    <meta name="google-signin-client_id"
          content="945884865124-ms1igvlhuofd7gtd2db999r256vstc9e.apps.googleusercontent.com">

    <!-- Favicons -->
    <link href="/static/images/hello.png" rel="icon">
    <link href="/static/images/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/static/vendor/aos/aos.css" rel="stylesheet">
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/static/css/style.css" rel="stylesheet">

    <!-- login css -->
    <link rel="stylesheet" href="/static/fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="/static/css/login-style.css">

    <!-- =======================================================
    * Template Name: eStartup - v4.7.1
    * Template URL: https://bootstrapmade.com/estartup-bootstrap-landing-page-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <div id="logo">
            <h1>
                <img src="/static/images/hello.png">
                <a href="/"><span>做伙</span>來讀冊</a>
            </h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" title="" /></a>-->
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="/">首頁</a></li>
                <li><a class="nav-link scrollto" href="/login/">登入</a></li>
                <li class="dropdown"><a href="#"><span>使用者</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/userdetail/">個人資料</a></li>
                        <li><a href="/achievement/">成就</a></li>
                        <li><a href="/studyplan/">學習規劃</a></li>
                        <li class="dropdown"><a href="/report/"><span>讀書報表</span> <i
                                class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="/week-report/">週報表</a></li>
                                <li><a href="/day-report/">日報表</a></li>
                            </ul>
                        </li>
                    </ul>
                <li><a class="nav-link scrollto" href="/studyroom/">自習室</a></li>
                <li><a class="nav-link scrollto" href="/discusroom/">討論室</a></li>
                <li><a class="nav-link scrollto" href="/developer/">開發人員</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->


<section>
    <div class="main">
        <section class="sign-in">
            <div class="containers">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="/static/images/signin-image.jpg" alt="sing up image"></figure>
                        <a href="/register/" class="signup-image-link">還沒有帳號</a>
                    </div>

                    <div class="signin-form">
                        {% for message in messages %}
                        <div class="alert alert-success">
                            <a class="close" href="#" data-dismiss="alert"></a>
                            {{ message }}
                        </div>
                        {% endfor %}
                        <h2 class="form-title">登入</h2>
                        <form method="POST" class="register-form" id="login-form">
                            {% csrf_token %}

                            <div class="form-group">
                                <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="your_name" id="your_name" placeholder="請輸入帳號或電子郵件"
                                       required="required"/>
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="your_pass" id="your_pass" placeholder="請輸入密碼"
                                       required="required"/>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="remember-me" id="remember-me" class="agree-term"/>
                                <label for="remember-me" class="label-agree-term"><span><span></span></span>記住我
                                </label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="登入"/>
                            </div>
                        </form>
                        <div class="social-login">
                            <span class="social-label">或使用</span>
<!--                            <ul class="socials">-->
<!--                                <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>-->
<!--                                <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>-->
<!--                                <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>-->
                                <div id="my-signin2"></div>
                                <script>
                                  function onSuccess(googleUser) {
                                    console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
                                  }
                                  function onFailure(error) {
                                    console.log(error);
                                  }
                                  function renderButton() {
                                    gapi.signin2.render('my-signin2', {
                                      'scope': 'profile email',
                                      'width': 40,
                                      'height': 40,
                                      'longtitle': false,
                                      'theme': 'dark',
                                      'onsuccess': onSuccess,
                                      'onfailure': onFailure
                                    });
                                  }

                                </script>

                                <script src="https://apis.google.com/js/platform.js?onload=renderButton" async
                                        defer></script>
                            </ul>
                            <span class="social-label">&emsp;&nbsp;登入</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>


<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/static/vendor/aos/aos.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/static/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/static/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/static/js/main.js"></script>
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/js/main.js"></script>

<!--google登入-->
<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>


</body>

</html>