<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>做伙來讀冊 - Learn it well</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/static/images/hello.png" rel="icon">
    <link href="/static/images/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/static/vendor/aos/aos.css" rel="stylesheet">
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/static/css/style.css" rel="stylesheet">

    <!-- chart.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"
            integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- =======================================================
    * Template Name: eStartup - v4.7.1
    * Template URL: https://bootstrapmade.com/estartup-bootstrap-landing-page-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <div id="logo">
            <h1>
                <img src="/static/images/hello.png">
                <a href="/"><span>做伙</span>來讀冊</a>
            </h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" title="" /></a>-->
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="/">首頁</a></li>
                <li class="dropdown"><a href="#"><span>使用者</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/userdetail/">個人資料</a></li>
                        <li><a href="/achievement/">成就</a></li>
                        <li><a href="/studyplan/">讀書規劃</a></li>
                        <li class="dropdown"><a href="/report/"><span>讀書報表</span> <i
                                class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="/ReportWeek/">週報表</a></li>
                                <li><a href="/ReportDay/">日報表</a></li>
                            </ul>
                        </li>
                    </ul>
                <li><a class="nav-link scrollto" href="/studyroom/">自習室</a></li>
                <li><a class="nav-link scrollto" href="/discusroom/">討論室</a></li>
                <li><a class="nav-link scrollto" href="/developer/">開發人員</a></li>
                <li><a class="nav-link scrollto" href="/logout/">登出</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>

    <style>
        .right {
           clearn: both;
           position: relative;
           left: 50px;
        }





    </style>
</header><!-- End Header -->

<!-- ======= Contact Section ======= -->
<section id="contact" class="padd-section">

    <div class="container">
        <div class="main-body">
<!--            {% for message in messages %}-->
<!--            <div class="alert alert-success">-->
<!--                <a class="close" href="#" data-dismiss="alert"></a>-->
<!--                {{ message }}-->

<!--            </div>-->
<!--            {% endfor %}-->
            <section>
                <nav aria-label="breadcrumb" class="main-breadcrumb">
                    <ol class="breadcrumb">
                    </ol>
                </nav>
            </section>
<!--使用者顯示-->
            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="/static/images/Headshot.jpg" alt="Admin"
                                     class="rounded-circle" width="150">
                                {% for duser_list in inform.duser_lists %}
                                <div class="mt-3">
                                    <h4>{{ duser_list.name }}</h4>
                                    <p class="text-secondary mb-1"></p>
                                    <p class="text-muted font-size-sm">{{ duser_list.live }}</p>
                                </div>
                                {% endfor%}
                            </div>
                        </div>
                    </div>
                </div>
<!--成就進度-->
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h3 class="d-flex align-items-center mb-3"><i
                                    class="material-icons text-info mr-2"></i>成就進度</h3>
                            {% for dsuccess_list in inform.dsuccess_lists %}
                            <small>{% for success_name in dsuccess_list.success_names %} {{ success_name.suc_name }} {% endfor %}</small>&nbsp;&nbsp;
                            <td>
                                {% for success_name in dsuccess_list.success_names %}

                                <!-- 自習 -->
                                {% if success_name.suc_classroom == 1 %}
                                {% for study_tot_time in inform.study_tot_time %}
                                {{ study_tot_time.study_total_min }}
                                {% endfor %}
                                {% endif %}

                                <!-- 討論 -->
                                {% if success_name.suc_classroom == 3 %}
                                {% for dis_tot_time in inform.dis_tot_time %}
                                {{ dis_tot_time.dis_total_min }}
                                {% endfor %}
                                {% endif %}

                                <!-- all -->
                                {% if success_name.suc_classroom == 4 %}
                                {% for all_tot_time in inform.all_tot_time %}
                                {{ all_tot_time.total_min }}
                                {% endfor %}
                                {% endif %}

                                {% endfor %}
                                /
                                {% for success_name in dsuccess_list.success_names %}
                                {{ success_name.suc_pace }}
                                {% endfor %}
                            </td>
<!--                            <div class="progress mb-3" style="height: 5px">-->
<!--                                <div class="progress-bar bg-primary" role="progressbar" style="width: {{ dsuccess_list.pace }}%"-->
<!--                                     aria-valuenow="{{ dsuccess_list.pace }}" aria-valuemin="0" aria-valuemax="60"></div>-->
<!--                            </div>-->
                            {% for success_name in dsuccess_list.success_names %}
                            <div>
                                {% for success_name in dsuccess_list.success_names %}
                                 <progress
                                    value="

                                    {% if success_name.suc_classroom == 1 %}
                                    {% for study_tot_time in inform.study_tot_time %}
                                    {{ study_tot_time.study_total_min }}
                                    {% endfor %}
                                    {% endif %}

                                    {% if success_name.suc_classroom == 3 %}
                                    {% for dis_tot_time in inform.dis_tot_time %}
                                    {{ dis_tot_time.dis_total_min }}
                                    {% endfor %}
                                    {% endif %}

                                    {% if success_name.suc_classroom == 4 %}
                                    {% for all_tot_time in inform.all_tot_time %}
                                    {{ all_tot_time.total_min }}
                                    {% endfor %}
                                    {% endif %}"
                                    max="{{ success_name.suc_pace }}">
                                 </progress>
                                 {% endfor %}

                            <style>
                                progress {
                                  color: lightblue;
                                }

                                progress {
                                  border: none;
                                  width: 100%;
                                  background: lightgray;
                                }

                                progress::-webkit-progress-value {
                                  background: lightblue;
                                }

                                progress::-moz-progress-bar {
                                  background: #66B3FF;
                                }

                                progress::-webkit-progress-value {
                                  background: #66B3FF;
                                }

                                progress::-webkit-progress-bar {
                                  background: lightgray;
                                }

                                .progress .progress-bar {
                                  background: #66B3FF;
                                }
                            </style>
                            <br>
                            {% endfor %}
                            </div>


                            {% endfor%}
                        </div>
                    </div>
<!--科目時長占比圓餅圖-->
                    <div class="row gutters-sm">
                        <div class="col-sm-6 mb-3">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h3 class="title">科目時長占比圓餅圖(小時)</h3>
                                    <canvas id="myChart-4"></canvas>

                                        <script>
                                            var subname=[];
                                            var hours=[];
                                            {% for dchart_list in inform.dchart_lists %}
                                            {% for dsubject_name in dchart_list.dsubject_name %}
                                            subname.push('{{ dsubject_name.sub_name }}');
                                            hours.push('{{ dchart_list.user_daysubtotal_hours }}');
                                            {% endfor%}
                                            {% endfor%}
                                            var ctx = document.getElementById('myChart-4');
                                            var myChart = new Chart(ctx, {
                                                type: 'pie',
                                                data: {
                                                    labels: subname,
                                                    datasets: [{
                                                        backgroundColor: [
                                                            'rgb(241, 148, 131)',
                                                            'rgb(155, 144, 194)',
                                                            'rgb(129,199,212)',
                                                            'rgb(168, 216, 185)',
                                                            'rgb(251, 226, 81)',
                                                            'rgb(180, 165, 130)'

                                                        ],
                                                        borderColor: 'rgb(240,240,240)',
                                                        borderWidth: 2.5,

                                                        label:subname,

                                                        data:hours,
                                                        fill: false, // 是否填滿色彩
                                                    }]
                                                },
                                                options: {
                                                    legend: {
                                                        labels: {
                                                          fontColor: 'white' // 標籤顏色
                                                        }
                                                    }
                                                }
                                            });

                                        </script>

                                </div>
                            </div>
                        </div>
<!--本日各科讀書時長(小時)                        -->
                        <div class="col-sm-6 mb-3">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div>
                                        <h3 class="title">本日各科讀書時長(小時)</h3>
                                        <canvas id="canvas"></canvas>
                                        <script>
                                        var dayshow=[];
                                        {% for day_list in inform.day_lists %}
                                        dayshow.push('{{ day_list.current_date }}');
                                        {% endfor%}
                                        var chinese=[];
                                        var chours=[];
                                        {% for chinese_list in inform.chinese_lists %}
                                        {% for dsubject_name in chinese_list.dsubject_name %}
                                        chinese.push('{{ dsubject_name.sub_name }}');
                                        chours.push('{{ chinese_list.user_daysubtotal_hours }}');
                                        {% endfor%}
                                        {% endfor%}
                                        var english=[];
                                        var ehours=[];
                                        {% for english_list in inform.english_lists %}
                                        {% for dsubject_name in english_list.dsubject_name %}
                                        english.push('{{ dsubject_name.sub_name }}');
                                        ehours.push('{{ english_list.user_daysubtotal_hours }}');
                                        {% endfor%}
                                        {% endfor%}
                                        var math=[];
                                        var mhours=[];
                                        {% for math_list in inform.math_lists %}
                                        {% for dsubject_name in math_list.dsubject_name %}
                                        math.push('{{ dsubject_name.sub_name }}');
                                        mhours.push('{{ math_list.user_daysubtotal_hours }}');
                                        {% endfor%}
                                        {% endfor%}
                                        var science=[];
                                        var shours=[];
                                        {% for science_list in inform.science_lists %}
                                        {% for dsubject_name in science_list.dsubject_name %}
                                        science.push('{{ dsubject_name.sub_name }}');
                                        shours.push('{{ science_list.user_daysubtotal_hours }}');
                                        {% endfor%}
                                        {% endfor%}
                                        var social=[];
                                        var sohours=[];
                                        {% for social_list in inform.social_lists %}
                                        {% for dsubject_name in social_list.dsubject_name %}
                                        social.push('{{ dsubject_name.sub_name }}');
                                        sohours.push('{{ social_list.user_daysubtotal_hours }}');
                                        {% endfor%}
                                        {% endfor%}
                                        var other=[];
                                        var ohours=[];
                                        {% for other_list in inform.other_lists %}
                                        {% for dsubject_name in other_list.dsubject_name %}
                                        other.push('{{ dsubject_name.sub_name }}');
                                        ohours.push('{{ other_list.user_daysubtotal_hours}}');
                                        {% endfor%}
                                        {% endfor%}
                                            window.chartColors = {
                                              red: 'rgb(241, 148, 131)',
                                              orange: 'rgb(255, 159, 64)',
                                              yellow: 'rgb(251, 226, 81)',
                                              green: 'rgb(168, 216, 185)',
                                              blue: 'rgb(129,199,212)',
                                              purple: 'rgb(155, 144, 194)',
                                              brown: 'rgb(180, 165, 130)'
                                            };

                                            var ctx = document.getElementById("canvas").getContext("2d");

                                            var myChart = new Chart(ctx, {
                                              type: 'bar',
                                              data: {
                                                labels: dayshow,
                                                datasets: [{
                                                  type: 'bar',
                                                  label: '國文',
                                                  backgroundColor: window.chartColors.red,
                                                  stack: 'Stack 0',
                                                  data: chours
                                                },{
                                                  type: 'bar',
                                                  label: '英文',
                                                  backgroundColor: window.chartColors.purple,
                                                  stack: 'Stack 0',
                                                  data: ehours
                                                },{
                                                  type: 'bar',
                                                  label: '數學',
                                                  backgroundColor: window.chartColors.blue,
                                                  stack: 'Stack 0',
                                                  data: mhours,
                                                }, {
                                                  type: 'bar',
                                                  label: '自然',
                                                  backgroundColor: window.chartColors.green,
                                                  stack: 'Stack 0',
                                                  data: shours
                                                },{
                                                  type: 'bar',
                                                  label: '社會',
                                                  backgroundColor: window.chartColors.yellow,
                                                  stack: 'Stack 0',
                                                  data: sohours
                                                },{
                                                  type: 'bar',
                                                  label: '其他',
                                                  backgroundColor: window.chartColors.brown,
                                                  stack: 'Stack 0',
                                                  data: ohours
                                                }]
                                              },
                                              options: {
                                              aspectRatio: 0.9995,
                                                responsive: true,
                                                title: {
                                                  display: true,
                                                  text: 'Chart.js Stacked Bar and Unstacked Line Combo Chart'
                                                },
                                                tooltips: {
                                                  mode: 'index',
                                                  intersect: true
                                                },
                                                scales: {
                                                  xAxes: [{
                                                    stacked: true,
                                                  }]
                                                }
                                              }
                                            });

                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
<!--本日學習規劃                        -->
                        <div class="card mb-3 ">
                            <div class="card-body  ">
                                <div>

                                    <h3 class="title">本日讀書規劃</h3>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th> 任務名稱</th>
                                                <th> 日期</th>
                                                <th> 進度</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for dplan_list in inform.dplan_lists %}
                                            <tr>
                                                <td> {{dplan_list.name}}</td>
                                                <td> {{dplan_list.datetime}}</td>
                                                <td>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-gradient-success" role="progressbar"
                                                             style="width: {{dplan_list.pace_no}}00%" aria-valuenow="{{dplan_list.pace_no}}" aria-valuemin="0"
                                                             aria-valuemax="1"></div>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor%}
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Contact Section -->


<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/static/vendor/aos/aos.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/static/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/static/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/static/js/main.js"></script>

</body>

</html>
