<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>做伙來讀冊 - Learn it well</title>
    <link href="/static/images/hello.png" rel="icon">
    <link rel="stylesheet" href="/static/css/test.css?v=<?=time()?>">
    <!-- Bootstrap 連結 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>
    <!--popover-->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- JS連結 -->
    <script src="/static/js/test.js"></script>
    <!-- 時鐘 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.min.js"></script>
    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">

</head>
<body>
<!-- HTML -->
<div class="banner">
    <div>
        <dialog class="dialog"> <!--音樂-->
            <br>
            <center>
                <iframe style="border-radius:12px"
                        src="https://open.spotify.com/embed/playlist/37i9dQZF1DWXUpC6mczRpA?utm_source=generator"
                        width="90%"
                        height="250" frameBorder="0" allowfullscreen=""
                        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </center>
            <button id="close" class="dialoginsidebtn">關閉</button>
        </dialog>
    </div>
    <div>
        <dialog id="soundDialog" class="sounddialog">   <!--白噪音-->
            <center>
                <b>夏天夜晚-蟬聲</b>
                <br>
                <audio controls loop>
                    <source src="/static/music/autumn_insects1.mp3" type="audio/ogg">
                </audio>
                <br>
                <b>水流聲</b>
                <br>
                <audio controls loop>
                    <source src="/static/music/brook1.mp3" type="audio/ogg">
                </audio>
                <br>
                <b>雨聲</b>
                <br>
                <audio controls loop>
                    <source src="/static/music/hearing_rain.mp3" type="audio/ogg">
                </audio>
                <br>
                <b>暴風雪聲</b>
                <br>
                <audio controls loop>
                    <source src="/static/music/storm_land.mp3" type="audio/ogg">
                </audio>
                <br>
                <b>咖啡廳聲</b>
                <br>
                <audio controls loop>
                    <source src="/static/music/hubbub_at_a_cafe1.mp3" type="audio/ogg">
                </audio>
                <br>
            </center>
            <button onclick="closeDialog2()" class="dialoginsidebtn">關閉</button>
        </dialog>
    </div>
    <!--    <div>-->
    <!--        <dialog id="todoDialog" class="dialog">   &lt;!&ndash;待辦事項&ndash;&gt;-->
    <!--            待辦事項-->
    <!--            <button onclick="closeDialog3()" class="dialoginsidebtn">關閉</button>-->
    <!--        </dialog>-->
    <!--    </div>-->
    <div>
        <dialog id="timeDialog" class="timedialog">   <!--計時器-->
            <div>
                <center>
                    <div class="mode">讀書時長倒數計時:</div>

                    <div class="clock">25:00</div>

                    <div class="controls">
                        <center>
                            <div class="labels">
                                <div class="label-break">休息</div>
                                <div class="label-session">讀書</div>
                            </div>

                            <div class="setting break">
                                <i class="bi bi-caret-left-fill break-down"></i>
                                <!--                        <i class="fa fa-caret-left break-down"></i>-->
                                <div class="break-time"></div>
                                <!--                        <i class="fa fa-caret-right break-up"></i>-->
                                <i class="bi bi-caret-right-fill break-up"></i>
                            </div>

                            <div class="setting session">
                                <i class="bi bi-caret-left-fill session-down"></i>
                                <!--                        <i class="fa fa-caret-left session-down"></i>-->
                                <div class="session-time"></div>
                                <!--                        <i class="fa fa-caret-right session-up"></i>-->
                                <i class="bi bi-caret-right-fill session-up"></i>
                            </div>
                        </center>


                    </div>
                    <button class="pause">開始計時</button>
                </center>
            </div>
            <button onclick="closeDialog1()" class="dialoginsidebtn">關閉</button>
        </dialog>
    </div>
    <!--    <div>-->
    <!--        <dialog id="soulDialog" class="dialog">   &lt;!&ndash;每日一句&ndash;&gt;-->
    <!--            每日一句-->
    <!--            <button onclick="closeDialog()" class="dialoginsidebtn">關閉</button>-->
    <!--        </dialog>-->
    <!--    </div>-->

    <div id="radius">
        <div class="btnI1">            <!-- 貼上圖示的程式碼 返回主頁-->
            <button class="ctrlbutton" onclick="window.location.href='/'"><i class="bi bi-house-door-fill"></i></button>
        </div>
        <div class="btnI1">            <!-- 貼上圖示的程式碼 計時器-->
            <button class="ctrlbutton" onclick="showDialog1()"><i class="bi bi-alarm-fill"></i></button>
            <script>
                var y = document.getElementById("timeDialog");
                function showDialog1() {
                y.show();
                }

                function closeDialog1() {
                y.close();
                }






            </script>
        </div>
        <div class="btnI1">            <!-- 貼上圖示的程式碼 音樂-->
            <button id="show" class="ctrlbutton"><i class="bi bi-music-note-list"></i></button>
            <script>
                /* Thanks to Eiji Kitamura for the dialog demo which you can see at https://demo.agektmr.com/dialog/ */
                var dialog = document.querySelector('dialog');
                document.querySelector('#show').onclick = function() {
                    dialog.show();
                };
                document.querySelector('#close').onclick = function() {
                    dialog.close();
                };






            </script>

        </div>
        <div class="btnI1">            <!-- 貼上圖示的程式碼 白噪音-->
            <button class="ctrlbutton" onclick="showDialog2()"><i class="bi bi-sliders"></i></button>
            <script>
                var z = document.getElementById("soundDialog");
                function showDialog2() {
                z.show();
                }

                function closeDialog2() {
                z.close();
                }







            </script>
        </div>
        <!--        <div class="btnI1">            &lt;!&ndash; 貼上圖示的程式碼 待辦清單&ndash;&gt;-->
        <!--            <button class="ctrlbutton" onclick="showDialog3()"><i class="bi bi-list-ul"></i></button>-->
        <!--            <script>-->
        <!--                var w = document.getElementById("todoDialog");-->
        <!--                function showDialog3() {-->
        <!--                w.show();-->
        <!--                }-->

        <!--                function closeDialog3() {-->
        <!--                w.close();-->
        <!--                }-->


        <!--            </script>-->

        <!--        </div>-->
        <!--        <div class="btnI1">            &lt;!&ndash; 貼上圖示的程式碼 每日一句&ndash;&gt;-->
        <!--            <button class="ctrlbutton" onclick="showDialog()"><i class="bi bi-moon-stars-fill"></i></button>-->
        <!--            <script>-->
        <!--                var x = document.getElementById("soulDialog");-->
        <!--                function showDialog() {-->
        <!--                x.show();-->
        <!--                }-->

        <!--                function closeDialog() {-->
        <!--                x.close();-->
        <!--                }-->


        <!--            </script>-->
        <!--        </div>-->
        <div class="btnI1">
            <button class="ctrlbutton" onclick="openFullscreen();"><i class="bi bi-arrows-fullscreen"></i></button>
            <script>
            var elem = document.documentElement;
            function openFullscreen() {
              if (elem.requestFullscreen) {
                elem.requestFullscreen();
              } else if (elem.webkitRequestFullscreen) { /* Safari */
                elem.webkitRequestFullscreen();
              } else if (elem.msRequestFullscreen) { /* IE11 */
                elem.msRequestFullscreen();
              }
            }






            </script>


            </script>
        </div>
    </div>
    <div class="clock1">
        <div id="hour">00</div>
        <span>:</span>
        <div id="minute">00</div>
        <span>:</span>
        <div id="seconds">00</div>
        <script>
        var hour = document.getElementById("hour");
        var minute = document.getElementById("minute");
        var seconds = document.getElementById("seconds");

        var clock1 = setInterval(
            function time(){
              var date_now = new Date();
              var hr = date_now.getHours();
              var min = date_now.getMinutes();
              var sec = date_now.getSeconds();

              if(hr < 10){
                  hr = "0" + hr;
              }
              if(min < 10){
                  min = "0" + min;
              }
              if(sec < 10){
                  sec = "0" + sec;
              }

              hour.textContent = hr;
              minute.textContent = min;
              seconds.textContent = sec;



    },1000
);







        </script>
    </div>
    <!--    <div id="clock" class="light">-->
    <!--        <div class="display">-->
    <!--            <div class="weekdays"></div>-->
    <!--            <div class="ampm"></div>-->
    <!--            <div class="alarm"></div>-->
    <!--            <div class="digits"></div>-->
    <!--        </div>-->
    <!--    </div>-->

    <!--    <div class="button-holder">-->
    <!--        <a class="button">Switch Theme</a>-->
    <!--    </div>-->
</div>

</body>
</html>