<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>做伙來讀冊 - Learn it well</title>
    <link href="/static/images/hello.png" rel="icon">
<!--    <link rel="stylesheet" href="/static/css/Sroominpage-self.css?v=<?=time()?>">-->
    <link rel="stylesheet" href="/static/css/Sroominpage-selftest.css?v=<?=time()?>">
    <!-- Bootstrap 連結 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>
    <!--popover-->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- JS連結 -->
    <script src="/static/js/test.js"></script>
    <!-- 時鐘 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.min.js"></script>
    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">
    <!--timer-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <!--收納名稱-->
    <link rel="stylesheet" href=" https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0 /font/bootstrap-icons.css ">

</head>
<body>
<!-- HTML -->
<!--個人自習室-->
<div class="banner">
    <div class="sidebar-contact" style="z-index:2;">
        <div class="toggle"></div>
        {% csrf_token %}
        <center>
            {% for subject_no_list in report.subject_no_lists %}
            <b><font size="6">科目： {{ subject_no_list.sub_name }}</font></b><br>
            <b>科目詳細資訊： {{ report.subject_detail }}</b><br>
            <b>預計讀書時長: {{ report.settime_no }}分鐘</b><br>
            {% endfor %}
<!--            <div class="position-absolute bottom-0 end-0 "><i class="bi bi-info-circle"></i></div>-->
        </center>
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="/static/js/studyroomtitle.js"></script>
        <style>
            .content {
                padding: 50px 100px;
            }

            .content h2 {
                margin: 0 0 20px;
                padding: 0;
                font-size: 30px;
            }

            .content p {
                font-size: 18px;
            }

            .sidebar-contact {
                position: fixed;
                top: 20%;
                left: -270px;
                transform: translateY(-50%);
                width: 270px;
                height: auto;
                padding: 40px;
                background: #fff;
                box-shadow: 0 20px 50px rgba(0, 0, 0, .5);
                box-sizing: border-box;
                transition: 0.5s;
                /*
                border: 1px solid rgba(0,0,0,.5);
                outline: none;
                */
            }

            .sidebar-contact.active {
                left: 0px;
            }

            .sidebar-contact input,
            .sidebar-contact textarea {
                width: 100%;
                height: 36px;
                padding: 5px;
                margin-bottom: 10px;
            }

            .sidebar-contact textarea {
                height: 60px;
                resize: none;
            }

            .sidebar-contact input[type="submit"] {
                background: #00bcd4;
                color: #fff;
                cursor: pointer;
                border: none;
                font-style: 18px;
            }

            .sidebar-contact h2 {
                margin: 0 0 20px;
                padding: 0;
            }

            .toggle {
                position: absolute;
                top: 0;
                right: -48px;
                width: 48px;
                height: 48px;
                line-height: 48px;
                text-align: center;
                cursor: pointer;
                background: #8bd07b;
            }

            .toggle:before {
                content: '\F138';
                font-family: fontAwesome;
                color: #fff;
                font-size: 18px;
            }

            .toggle.active:before {
                content: '\f00d';
            }


        </style>

    </div>
    <div>
        <dialog class="dialog"style="width: 50%;height:45%;left:25%;"> <!--音樂--><!--height="250"-->
            <br>
            <center>
                <iframe style="border-radius:12px;width:80%;"
                        src="https://open.spotify.com/embed/playlist/37i9dQZF1DWXUpC6mczRpA?utm_source=generator"
                        width="90%"
                        height="250" frameBorder="0" allowfullscreen=""
                        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </center>

            <button id="close" class="dialoginsidebtn">關閉</button>
        </dialog>
    </div>
    <div>
        <dialog id="soundDialog" class="sounddialog" style="width: 55%;height:65%;left:20%;">   <!--白噪音-->
            <center>
                <b>夏天夜晚-蟬聲</b>
                <br>
                <audio controls loop style="width:100%;">
                    <source src="/static/music/autumn_insects1.mp3" type="audio/ogg">
                </audio>
                <br>
                <b>水流聲</b>
                <br>
                <audio controls loop style="width:100%">
                    <source src="/static/music/brook1.mp3" type="audio/ogg">
                </audio>
                <br>
                <b>雨聲</b>
                <br>
                <audio controls loop style="width:100%;">
                    <source src="/static/music/hearing_rain.mp3" type="audio/ogg">
                </audio>
                <br>
                <b>暴風雪聲</b>
                <br>
                <audio controls loop style="width:100%">
                    <source src="/static/music/storm_land.mp3" type="audio/ogg">
                </audio>
                <br>
                <b>咖啡廳聲</b>
                <br>
                <audio controls loop style="width:100%">
                    <source src="/static/music/hubbub_at_a_cafe1.mp3" type="audio/ogg">
                </audio>
                <br>
            </center>
            <button onclick="closeDialog2()" class="dialoginsidebtn">關閉</button>
        </dialog>
    </div>
    <div>
        <progress id="js-progress" value="0"></progress>
        <div class="progress-bar"></div>
        <dialog id="timeDialog" class="timedialog" open style="width: 55%;height:60%;left:20%;z-index:1;">   <!--計時器-->
            <br>
            <main class="app">
                <!--佑慈提供可能js-->
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
                <script type="text/javascript" src="countdowntimer.js"></script>
                <div class="timer">
<!--                    <div class="button-group mode-buttons" id="js-mode-buttons">-->
<!--                        <div>-->
<!--                            <button-->

<!--                                    class="button active mode-button"-->
<!--                                    id="js-pomodoro"-->
<!--                            >-->
<!--                                先按此鍵確認時間-->
<!--                            </button>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div data-mode="pomodoro" class="clock" id="js-clock">
                        <span id="js-minutes">{{ report.settime_no }}</span>
                        <span class="separator" style="font-size:65px; color:#fff">:</span>
                        <span id="js-seconds">00</span>
                    </div>
                    <button type="submit" class="main-button" data-action="start" id="entry_time" data-mode="pomodoro" name="entry_time">
                        開始
                    </button>
                    <form action="/Sroominpage-self/exit/" method="post">
                        {% csrf_token %}
                            <button class="main-button" data-action="over" id="js-overbtn"
                                    onclick="window.location.href='/studyroom-self/'" title="倒數計時結束才能按下!" disabled>
                                結束
                            </button>
                    </form>
                </div>
                <div>
                    <button onclick="closeDialog1()" class="dialoginsidetimebtn" style="position: absolute;right:3px;width:auto;">x</button>
                </div>

            </main>

            <div class="hidden">
                <audio src="/static/music/softtimeout.wav" data-sound="pomodoro"></audio>
            </div>
            <script type="text/javascript">
                //讀書時間(pomodore)為 25 分鐘，短暫的休息時間(shortBreak)為 5 分鐘。連續四次番茄工作後，將啟動長時間的休息(longBreak)（15 分鐘）
                window.onload = function () {
                    const timer = {
                        pomodoro:  {{ report.settime_no }},
                    };

                    //聲明一個interval變量timer
                    let interval;

                    const buttonSound = new Audio('/static/music/button-sound.mp3');
                    const mainButton = document.getElementById('entry_time');
                    const mainButtons = document.querySelector('#entry_time');
                    mainButtons.addEventListener('click', handleMode);
                    mainButton.addEventListener('click', () => {
                        buttonSound.play();
                        const {action} = mainButton.dataset;
                        if (action === 'start') {
                            startTimer();
                        } else {
                            stopTimer();
                        }
                    });



                    function getRemainingTime(endTime) {
                        const currentTime = Date.parse(new Date());
                        const difference = endTime - currentTime;

                        const total = Number.parseInt(difference / 1000, 10);
                        const minutes = Number.parseInt((total / 60) % 60, 10);
                        const seconds = Number.parseInt(total % 60, 10);

                        return {
                            total,
                            minutes,
                            seconds,
                        };
                    }

                    function startTimer() {
                        let {total} = timer.remainingTime;
                        const endTime = Date.parse(new Date()) + total * 1000;

                        if (timer.mode === 'pomodoro') timer.sessions++;

<!--                        mainButton.dataset.action = 'stop';-->
<!--                        mainButton.textContent = '暫停';-->
<!--                        mainButton.classList.add('active');-->

                        interval = setInterval(function () {
                            timer.remainingTime = getRemainingTime(endTime);
                            updateClock();

                            total = timer.remainingTime.total;
                            //按下開始後 開始鍵會消失
                            mainButton.style.display = "none";
<!--                            document.getElementById('entry_time').disabled = true;-->
                            if (total <= 0) {
                                clearInterval(interval);

                                switch (timer.mode) {
                                    case 'pomodoro':
                                        if (timer.sessions % timer.longBreakInterval === 0) {
                                            switchMode('shortBreak');
                                        } else {
                                        //直到倒數完預設時間結束建材可以按
                                            document.getElementById('js-overbtn').disabled = false;
                                        }
                                        break;
                                    default:
                                        switchMode('pomodoro');
                                }
                                if (Notification.permission === 'granted') {
                                    const text =
                                        timer.mode === 'pomodoro' ? 'LEARN IT WELL' : 'Take a break!';
                                    new Notification(text);
                                }
                                if (Notification.permission === 'granted') {
                                    const text =
                                        timer.mode === 'pomodoro' ? 'LEARN IT WELL!' : 'Take a break!';
                                    new Notification(text);
                                }

                                document.querySelector(`[data-sound="${timer.mode}"]`).play();

                                startTimer();
                            }
                        }, 1000);
                    }


                    function stopTimer() {
                        clearInterval(interval);

                        mainButton.dataset.action = 'start';
                        mainButton.textContent = '開始';
                        mainButton.classList.remove('active');
                    }

                    function updateClock() {
                        const {remainingTime} = timer;
                        const minutes = `${remainingTime.minutes}`.padStart(2, '0');
                        const seconds = `${remainingTime.seconds}`.padStart(2, '0');

                        const min = document.getElementById('js-minutes');
                        const sec = document.getElementById('js-seconds');
                        min.textContent = minutes;
                        sec.textContent = seconds;

                        const text =
                            timer.mode === 'pomodoro' ? 'LEARN IT WELL' : 'Take a break!';
                        document.title = `${minutes}:${seconds} — ${text}`;

                        const progress = document.getElementById('js-progress');
                        progress.value = timer[timer.mode] * 60 - timer.remainingTime.total;
                    }

                    function switchMode(mode) {
                        timer.mode = mode;
                        timer.remainingTime = {
                            total: timer[mode] * 60,
                            minutes: timer[mode],
                            seconds: 0,
                        };

                        document
                            .querySelectorAll('button[data-mode]')
                            .forEach(e => e.classList.remove('active'));
                        document.querySelector(`[data-mode="${mode}"]`).classList.add('active');
                        document.body.style.backgroundColor = `var(--${mode})`;
                        document
                            .getElementById('js-progress')
                            .setAttribute('max', timer.remainingTime.total);

                        updateClock();
                    }

                    function handleMode(event) {
                        const {mode} = event.target.dataset;

                        if (!mode) return;

                        switchMode(mode);
                        stopTimer();
                    }

                    document.addEventListener('DOMContentLoaded', () => {
                        if ('Notification' in window) {
                            if (
                                Notification.permission !== 'granted' &&
                                Notification.permission !== 'denied'
                            ) {
                                Notification.requestPermission().then(function (permission) {
                                    if (permission === 'granted') {
                                        new Notification(
                                            'Awesome! You will be notified at the start of each session'
                                        );
                                    }
                                });
                            }
                        }

                        switchMode('pomodoro');
                    });

                    document.addEventListener('DOMContentLoaded', () => {
                        switchMode('pomodoro');
                    });
                }


            </script>
        </dialog>
    </div>
    <div id="radius">
        <div class="btnI1">            <!-- 貼上圖示的程式碼 返回主頁-->
            <button class="ctrlbutton" onclick="window.location.href='/studyroom-self/'"><i class="bi bi-box-arrow-left"></i></button>
        </div>
        <div class="btnI1">            <!-- 貼上圖示的程式碼 計時器-->
            <button class="ctrlbutton" onclick="showDialog1()"><i class="bi bi-alarm-fill"></i></button>
            <script>
                var y = document.getElementById("timeDialog");

                function showDialog1() {
                    y.show();
                }

                function closeDialog1() {
                    y.close();
                }


            </script>
        </div>
        <div class="btnI1">            <!-- 貼上圖示的程式碼 音樂-->
            <button id="show" class="ctrlbutton"><i class="bi bi-music-note-list"></i></button>
            <script>
                /* Thanks to Eiji Kitamura for the dialog demo which you can see at https://demo.agektmr.com/dialog/ */
                var dialog = document.querySelector('dialog');
                document.querySelector('#show').onclick = function () {
                    dialog.show();
                };
                document.querySelector('#close').onclick = function () {
                    dialog.close();
                };


            </script>

        </div>
        <div class="btnI1">            <!-- 貼上圖示的程式碼 白噪音-->
            <button class="ctrlbutton" onclick="showDialog2()"><i class="bi bi-sliders"></i></button>
            <script>
                var z = document.getElementById("soundDialog");

                function showDialog2() {
                    z.show();
                }

                function closeDialog2() {
                    z.close();
                }


            </script>
        </div>
        <div class="btnI1">
            <button class="ctrlbutton" onclick="openFullscreen();"><i class="bi bi-arrows-fullscreen"></i></button>
            <script>
                var elem = document.documentElement;

                function openFullscreen() {
                    if (elem.requestFullscreen) {
                        elem.requestFullscreen();
                    } else if (elem.webkitRequestFullscreen) { /* Safari */
                        elem.webkitRequestFullscreen();
                    } else if (elem.msRequestFullscreen) { /* IE11 */
                        elem.msRequestFullscreen();
                    }
                }


            </script>


            </script>
        </div>
    </div>
    <div class="clock1">
        <div id="hour"><font size="4">00</font></div>
        <span><font size="4">:</font></span>
        <div id="minute"><font size="4">00</font></div>
        <span><font size="4">:</font></span>
        <div id="seconds"><font size="4">00</font></div>
        <script>
            var hour = document.getElementById("hour");
            var minute = document.getElementById("minute");
            var seconds = document.getElementById("seconds");

            var clock1 = setInterval(
                function time() {
                    var date_now = new Date();
                    var hr = date_now.getHours();
                    var min = date_now.getMinutes();
                    var sec = date_now.getSeconds();

                    if (hr < 10) {
                        hr = "0" + hr;
                    }
                    if (min < 10) {
                        min = "0" + min;
                    }
                    if (sec < 10) {
                        sec = "0" + sec;
                    }

                    hour.textContent = hr;
                    minute.textContent = min;
                    seconds.textContent = sec;


                }, 1000
            );


        </script>
    </div>
</div>
</body>
</html>