<!DOCTYPE html>
<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/style1.css">
    <title>自習室</title>
    <link rel="stylesheet" href="https://ionic.io/ionicons">
</head>
<body>
    <form name="mylogin" action="" class="login" onsubmit="return check(this)"  required>
        <h1>自習室</h1>
        <!-- <ion-icon name="person-circle-outline"></ion-icon> -->

        <a href='/'>回到主頁</a><br>


    </form>

</body>
</html>


<!-- onclick="window.alert('登入成功')" -->